*~
*.a
*.so
*.o
*.mod
*fort.9
simsopt_20*.dat
objective*.dat
residuals_20*.dat
_skbuild/
build/
build-cmake/
cmake_build/
dist/
.eggs/
pip-wheel-metadata/
*simsopt.egg-info/
.DS_Store
.coverage
.tox
*fort.9
	
# f90wrap related
src.*/
.f2py_f2cmap 
.libs/ 
__pycache__/
*.fpp
f90wrap_*.f90

# Python egg and wheel builder
*.egg-info

# IDE
.idea

# VMEC specific
modules/VMEC/vmec.py
modules/VMEC/vmec_pkg/
wout*
mercier*
jxbout*
parvmecinfo.txt
*threed*
vmec_f90wrap.py
fort.9
parvmec*.txt

# SPEC specific
spec*.sp
spec*.sp.end
spec*.sp.h5

# examples
examples/VMEC/
examples/*.log

# Sphinx related files
docs/build/

# IDE related
.idea
compile_commands.json
.vscode

# Tests output
tests/*.dat
tests/boundary*

# Version file
src/simsopt/_version.py

examples/3_Advanced/auglag/extract_cs_distance.py
examples/3_Advanced/auglag/output_paper/w7x_order16_ncoils4_run1_curvature2.5_force3.8_flux1e-15_length38_cc0.28_cs0.3_msc1.5_gaussian_initial_auglag/coils_init_pert_16.vtu
examples/3_Advanced/auglag/output_paper/w7x_order16_ncoils4_run1_curvature2.5_force3.8_flux1e-15_length38_cc0.28_cs0.3_msc1.5_gaussian_initial_auglag/coils_init_w7x_16.vtu
examples/3_Advanced/auglag/output_paper/w7x_order16_ncoils4_run1_curvature2.5_force3.8_flux1e-15_length38_cc0.28_cs0.3_msc1.5_gaussian_initial_auglag/coils_optimized_gaussian_auglag_w7x_16.vtu
examples/3_Advanced/auglag/output_paper/w7x_order16_ncoils4_run1_curvature2.5_force3.8_flux1e-15_length38_cc0.28_cs0.3_msc1.5_gaussian_initial_auglag/s_init_w7x_16.vts
examples/3_Advanced/auglag/output_paper/w7x_order16_ncoils4_run1_curvature2.5_force3.8_flux1e-15_length38_cc0.28_cs0.3_msc1.5_gaussian_initial_auglag/surf_init_w7x_16.vts
examples/3_Advanced/auglag/output_paper/w7x_order16_ncoils4_run1_curvature2.5_force3.8_flux1e-15_length38_cc0.28_cs0.3_msc1.5_gaussian_initial_auglag/surf_optimized_gaussian_auglag_w7x_16.vts
examples/3_Advanced/auglag/output_paper/w7x_order1_ncoils4_run1_curvature2.5_force3.8_flux1e-15_length38_cc0.28_cs0.3_msc1.5_gaussian_initial_auglag/coils_init_pert_1.vtu
examples/3_Advanced/auglag/output_paper/w7x_order1_ncoils4_run1_curvature2.5_force3.8_flux1e-15_length38_cc0.28_cs0.3_msc1.5_gaussian_initial_auglag/coils_init_w7x_1.vtu
examples/3_Advanced/auglag/output_paper/w7x_order1_ncoils4_run1_curvature2.5_force3.8_flux1e-15_length38_cc0.28_cs0.3_msc1.5_gaussian_initial_auglag/coils_optimized_gaussian_auglag_w7x_1.vtu
examples/3_Advanced/auglag/output_paper/w7x_order1_ncoils4_run1_curvature2.5_force3.8_flux1e-15_length38_cc0.28_cs0.3_msc1.5_gaussian_initial_auglag/s_init_w7x_1.vts
examples/3_Advanced/auglag/output_paper/w7x_order1_ncoils4_run1_curvature2.5_force3.8_flux1e-15_length38_cc0.28_cs0.3_msc1.5_gaussian_initial_auglag/surf_init_w7x_1.vts
examples/3_Advanced/auglag/output_paper/w7x_order1_ncoils4_run1_curvature2.5_force3.8_flux1e-15_length38_cc0.28_cs0.3_msc1.5_gaussian_initial_auglag/surf_optimized_gaussian_auglag_w7x_1.vts
examples/3_Advanced/auglag/output_paper/w7x_order4_ncoils4_run1_curvature2.5_force3.8_flux1e-15_length38_cc0.28_cs0.3_msc1.5_gaussian_initial_auglag/coils_init_pert_4.vtu
examples/3_Advanced/auglag/output_paper/w7x_order4_ncoils4_run1_curvature2.5_force3.8_flux1e-15_length38_cc0.28_cs0.3_msc1.5_gaussian_initial_auglag/coils_init_w7x_4.vtu
examples/3_Advanced/auglag/output_paper/w7x_order4_ncoils4_run1_curvature2.5_force3.8_flux1e-15_length38_cc0.28_cs0.3_msc1.5_gaussian_initial_auglag/s_init_w7x_4.vts
examples/3_Advanced/auglag/output_paper/w7x_order4_ncoils4_run1_curvature2.5_force3.8_flux1e-15_length38_cc0.28_cs0.3_msc1.5_gaussian_initial_auglag/surf_init_w7x_4.vts
examples/3_Advanced/auglag/output_paper/w7x_order8_ncoils4_run1_curvature2.5_force3.8_flux1e-15_length38_cc0.28_cs0.3_msc1.5_gaussian_initial_auglag/coils_init_pert_8.vtu
examples/3_Advanced/auglag/output_paper/w7x_order8_ncoils4_run1_curvature2.5_force3.8_flux1e-15_length38_cc0.28_cs0.3_msc1.5_gaussian_initial_auglag/coils_init_w7x_8.vtu
examples/3_Advanced/auglag/output_paper/w7x_order8_ncoils4_run1_curvature2.5_force3.8_flux1e-15_length38_cc0.28_cs0.3_msc1.5_gaussian_initial_auglag/coils_optimized_gaussian_auglag_w7x_8.vtu
examples/3_Advanced/auglag/output_paper/w7x_order8_ncoils4_run1_curvature2.5_force3.8_flux1e-15_length38_cc0.28_cs0.3_msc1.5_gaussian_initial_auglag/s_init_w7x_8.vts
examples/3_Advanced/auglag/output_paper/w7x_order8_ncoils4_run1_curvature2.5_force3.8_flux1e-15_length38_cc0.28_cs0.3_msc1.5_gaussian_initial_auglag/surf_init_w7x_8.vts
examples/3_Advanced/auglag/output_paper/w7x_order8_ncoils4_run1_curvature2.5_force3.8_flux1e-15_length38_cc0.28_cs0.3_msc1.5_gaussian_initial_auglag/surf_optimized_gaussian_auglag_w7x_8.vts
